<h1><p class="text-center">NFL LEADERBOARD 2014</p></h1>
<table class="table table-striped" >
  <tr>
    <th>Team Name</th>
    <th>Game(s) Won</th>
    <th>Game(s) Lost</th>
  </tr>
  <% @stats.each do |stat| %>
  <tr>
    <td><a href="/teams/<%= stat[:team_name] %>"><%= stat[:team_name] %></td>
    <td style="padding-left: 40px;"><%= stat[:wins] %></td>
    <td style="padding-left: 40px;"><%= stat[:losses] %></td>

  </tr>
  <% end %>
<table>


<h3>
  <p class="text-center" style="color: red; margin-top:80px;">
    Match Results
  </p>
</h3>
<table class="table table-striped">
  <tr>
    <th>Home Team</th>
    <th colspan="2" style="text-align:center; padding-right: 10px;">
      VS
    </th>

    <th style="text-align:right;">Away Team</th>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result[:home_team] %></td>
      <td style="text-align:center;"><%= result[:home_score] %></td>
      <td style="text-align:center;"><%= result[:away_score] %></td>
      <td style="text-align:right;"><%= result[:away_team] %></td>
    </tr>
  <% end %>
</table>


